.cross {
  width: 100px;
  height: 100px;
  background: linear-gradient(to bottom, transparent 43%, #000 43%, #000 57%,  transparent 57%),
    linear-gradient(to right, transparent 43%, #000 43%, #000 57%, transparent 57%);
}