.cross {
  width: 100px;
  height: 100px;
  background: linear-gradient(to bottom, transparent 40%, #000 40%, #000 55%,  transparent 55%),
    linear-gradient(to right, transparent 40%, #000 40%, #000 55%, transparent 55%);
}